.draggableRectangle{
  fill: rgba(40, 40, 68, 0.15);
  /*stroke-width: 1;*/
  stroke: rgb(232, 11, 11);
  stroke-dasharray: 5 5;
}

.rectangles{
  fill: rgba(0, 255, 0, 0);
  stroke: rgb(208, 38, 38);
}

.circle{
  fill: rgba(0, 255, 0, 0);
}

.tickImage:hover, .cancelImage:hover{
  cursor: pointer;
  visibility: visible;
}

.draggableRectangle:hover {
  cursor: move;
}

.tickImage{
  visibility: hidden;
}

.cancelImage{
  visibility: hidden;
}

/*panel styles starts here*/
.panel {
  width: 50px;
  height: 500px;
  background: #cec2c2;
  position: fixed;
  padding: 10px;
}

.panelButton {
  height: 30px;
  width: 30px;
}

.panelButton:focus {
  background: blue;
}